.stagingZoneDrawer .ant-drawer-close {
  position: absolute;
  right: 0px;
  margin: 12px;
}

.stagingZoneDrawer .anticon {
  color: #000000;
}

.stagingZoneDrawer .ant-drawer-title {
  font: normal normal medium 16px/20px;
  letter-spacing: 0px;
  color: #000000fa;
  opacity: 1;
}
.stagingZoneDrawer .ant-drawer-title .private-org {
  font: normal normal medium 16px/20px;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: 500;
  background: #808080 0% 0% no-repeat padding-box;
  border-radius: 2px;
  opacity: 1;
  padding: 0px 10px;
}

.stagingZoneDrawer .ant-drawer-body {
  padding: 0px 24px;
}

.stagingZoneDrawer .ant-drawer-wrapper-body {
  border: 1px solid black;
  background-color: #0000001a;
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 18px,
    #c7c6c3e5 21px
  );
}
.stagingZoneDrawer .ant-typography {
  font: normal normal normal 14px/20px Inter;
  letter-spacing: 0px;
  color: #000000;
}

.expand-icon-right {
  position: absolute;
  top: 1%;
  right: 1.7%;
}
.expand-icon-right:hover {
  cursor: pointer;
}
.stagingZoneDrawer .anticon-close {
  display: none;
}
.ant-badge-not-a-wrapper:not(.ant-badge-status) {
  vertical-align: initial;
}

#page-wrap {
  width: 100%;
  height: 100%;
}
#page-wrap > div {
  margin: 0 0 5px 0;
  min-width: 500px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.group:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.group {
  display: block;
}
.five-columns .col {
  background: #f7f6f4 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 33.3%;
  float: left;
  height: 100%;
  overflow: scroll;}
#sendMsg {
  background-color: transparent;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.five-columns .col::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.five-columns .col {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.discussion {
  border-right: 1px solid darkgrey;
}
