#page-wrap {
  width: 100%;
  height: 96%;
}
#page-wrap > div {
  margin: 0 0 5px 0;
  min-width: 500px;
  width: 100%;
  height: 100%;
}

.group:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.group {
  display: inline-block;
}
.five-columns .col {
  background: #f7f6f4 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 33.3%;
  float: left;
  min-height: 320px;
}
