#page-wrap { width: 100%; }
#page-wrap > div { margin: 0 0 5px 0; min-width: 500px; width: 100%; }

.group:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
.group { display: inline-block; }
.five-columns .col {
  background: #F7F6F4 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 33.3%; float: left; padding: 0.5%;
  min-height: 220px;
}
.discussion {
  border-right: 1px solid darkgrey;
}
