.accMenuContainer {
    display: flex;
    align-items: center;
    padding: 0;
    margin-top: 4px;
    color: white;
  }
  
  .ant-dropdown .ant-dropdown-placement-bottomRight {
    width: 200px;
  }
  
  .sign-out {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
  }
