.dropzone {
  text-align: center;
  padding: 30px;
  border: 3px dashed #eeeeee;
  background-color: #fafafa;
  color: #bdbdbd;
  cursor: pointer;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-file-wrapper {
  text-align: center;
}

.selected-file {
  color: #000;
  font-weight: bold;
}
.icon-style {
  color: grey;
  display: inline-block;
  position: absolute;
  top: 65px;
  left: 55px;
  font-size: 30px;
}
.icon-style-wrong {
  color: red;
  display: inline-block;
  position: absolute;
  top: 65px;
  left: 55px;
  font-size: 30px;
}
