.dropzone {
  text-align: center;
  padding: 30px;
  border: 3px dashed #eeeeee;
  background-color: #fafafa;
  color: #bdbdbd;
  cursor: pointer;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selected-file-wrapper {
  text-align: center;
}
.selected-file {
  color: black;
  font-weight: bold;
}
.icon-style1 {
  color: grey;
  fill: transparent;
  display: inline-block;
  position: absolute;
  top: 93px;
  left: 110px;
}

.icon-style2 {
  color: grey;
  display: inline-block;
  position: absolute;
  top: 33px;
  left: 38px;
  font-weight: bolder;
  font-size: 15px;
}
.icon-style-wrong-screen-first {
  color: #ff3535;
  display: inline;
  position: absolute;
  bottom: 30px;
  left: 122px;
  font-size: 25px;
}
.icon-style-wrong-screen-first1 {
  color: #ff3535;
  display: inline;
  position: absolute;
  bottom: -25px;
  left: 122px;
  font-size: 25px;
}
.icon-style-wrong-screen-second {
  color: red;
  display: inline-block;
  position: absolute;
  bottom: 15px;
  left: 48px;
  font-size: 12px;
}
.green-text {
  color: #007d3e;
}
.error-text {
  color: #ff3e3e;
}
.ant-progress-status-success div .ant-progress-bg {
  background-color: #008000;
  height: 3px;
}

.styled-element:active {
  stroke-dasharray: 0, 0;
}
.text-first,
.text-second {
  font-size: 15px;
  color: #00000080;
  opacity: 1;
}
.text-first-active,
.text-second-active {
  font-size: 15px;
  fill: #dedede;
}
.ant-progress {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ant-progress-text {
  margin-left: 12px;
}

.styled-element:hover {
  stroke: #007aff;
  stroke-width: "3px" !important;
}
.styled-element:hover .text-first,
.text-second {
  fill: #007aff;
}
.styled-element:hover + .icon-style1 .fill-hover {
  fill: #007aff;
}

.styled-element:hover + .icon-style2 .fill-hover {
  fill: #007aff;
}
