.filter {
  display: flex;
}
.tag-item {
    background-color: #d4d5d6;
    display: inline-block;
    font-size: 14px;
    border-radius: 30px;
    height: 30px;
    padding: 0 4px 0 1rem;
    display: inline-flex;
    align-items: center;
    margin: 0 0.3rem 0.3rem 0;
    width: max-content;
  }
  
  .tag-item > .button {
    background-color: white;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font: inherit;
    margin-left: 10px;
    font-weight: bold;
    padding: 0;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
/* .tooltip{
  display:none;
}
.tooltip-on-hover:hover + .tooltip { display: block; }
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
} */

.tooltip .tooltip-text {
  visibility: hidden;
  width: auto;
  background-color: rgb(219, 218, 218);
  color: #fff;
  text-align: center;
  border-radius: 30px;
  padding: 20px 5px !important;
  color: black;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 90px;
  max-width: 350px;
}
.tooltip-text:empty{
  display: none;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
  display: block;
  width:max-content;
  padding: 5px;
}
.button {
  background-color: white;
  width: auto;
  height: 22px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font: inherit;
  margin-left: 10px;
  font-weight: bold;
  padding: 0 5px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
