.filterRow {
  margin: 10px 0px;
}

.ant-input .ant-input-disabled {
  width: 10%;
}

.grid-cell-centered {
  text-align: center;
}

.CardDetails {
  width: "auto";
  border: "0.2px solid #e5e5e5";
}
.searchInput{
  margin-left: 15px !important;
}
#filter-text-box {
  text-align: left;
  font: normal normal normal 16px/20px Inter;
  letter-spacing: 0px;
  color: #0000004d;
  opacity: 1;
  width: 163px;
  height: 20px;
  margin-left: 10px;
}

.StatusInput {
  color: black !important;
  opacity: 0.5 !important;
  background: lightgray !important;
  font-weight: 400 !important;
  width: 40% !important;
  height: 30px !important;
}

.StatusInputSelect {
  width: 100px !important;
  height: 30px !important;
  background: lightgray !important;
  opacity: 1 !important;
  color: black !important;
  font-weight: 700 !important;
}

.ContractorInput {
  width: 55% !important;
  height: 30px !important;
  color: black !important;
  opacity: 0.5 !important;
  background: lightgray !important;
  font-weight: 400 !important;
}

.ContractorInputInputSelect {
  font-weight: 600;
  width: 70px !important;
  height: 30px !important;
  display: flex;
  opacity: 1 !important;
  color: black !important;
  font-weight: 700 !important;
}

.DueInput {
  width: 40% !important;
  height: 40% !important;
  color: black !important;
  opacity: 0.5 !important;
  background: lightgray !important;
  font-weight: 400 !important;
}

.DueInputSelect {
  width: 100px !important;
  height: 30px !important;
  display: flex;
  opacity: 1 !important;
  color: black !important;
  font-weight: 700 !important;
}

.DependsOnInput {
  width: 58% !important;
  height: 30px !important;
  color: black !important;
  opacity: 0.5 !important;
  background: lightgray !important;
  font-weight: 400 !important;
}

.DependsOnInputSelect {
  height: 30px !important;
  width: 60px !important;
  opacity: 1 !important;
  color: black !important;
  font-weight: 700 !important;
  display: flex;
}

.AssignedInputSelect {
  width: 80px !important;
  height: 30px !important;
  display: flex;
  color: black !important;
  font-weight: 700 !important;
  background: lightgray !important;
}

.AssignedInput {
  width: 50% !important;
  height: 30px !important;
  color: black !important;
  opacity: 0.5 !important;
  background: lightgray !important;
  font-weight: 400 !important;
}

#outer {
  width: 100%;
  text-align: end;
}
.inner {
  display: inline-block;
  height: 30px;
}
.EditBtn {
  margin-left: 10px;
  height: 30px;
}

.newSubmittalBtn {
  margin-left: 10px;
  height: 30px;
  margin-right: 10px;
}

.ag-header-cell-text {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  font: normal normal normal 14px/17px Inter;
  letter-spacing: 0px;
  color: #00000080;
  opacity: 1;
}

.NweSubmittalBtn {
  margin-left: 10px !important;
}
.hoverColor {
  color: black !important ;
  text-align: center;
}
.hoverColor:hover {
  color: #0073cf !important;
   text-decoration: underline;
   text-decoration-style: dashed;
}
.defaultCellColor {
  text-align: center !important;
  color: black !important;
}
.select-custom-dropDown {
  width: fit-content !important;
}
.ag-header-cell-label {
  justify-content: center;
}
