.discussion {
  border-right: 2px solid grey;
  height: 100%;
  overflow-y: hidden;
}
.discussion-header {
  width: 100%;
  height: 61px;
  border-bottom: 1px solid darkgrey;
  padding: 3% 3.2% 0% 3.2%;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  background: #f7f6f4 0% 0% no-repeat padding-box;
  padding-bottom: 7%;
}
.discussion-header .new-discussion-btn {
  margin: 15% 9.7%;
  font: normal normal normal 14px "Inter";
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  padding-right: 13px;
  height: 28px;
  margin-left: 0%;
}
.discussion-header .new-discussion-btn .add-icon {
  font-size: 13px;
  font-weight: bold;
}
.discussion-header .search-input {
  border: none;
  width: 100%;
  height: 30px;
  padding-right: 1%;
}
.discussion-header .ant-input {
  border: none;
  height: 40px;
  background-color: transparent;
  padding: 0px 10px;
}
.discussion-header .ant-input:hover {
  border: none;
}
.discussion-header .ant-input-group {
  background-color: #0000001a;
}
.discussion-header .ant-input-group-addon {
  background-color: transparent;
  width: 12%;
}
.add-new-discussion .ant-btn-default {
  background-color: white;
  color: #007aff;
  border: 1px solid #007aff;
}
.add-new-discussion .ant-btn-default:hover {
  background-color: #007aff;
  color: white;
}
.discussion .ant-list-split .ant-list-item {
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 0.5%;
  padding: 1.5%;
  font: normal normal normal 16px/21px Inter;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.discussion .ant-list-header {
  padding: 0px;
  position: sticky;
  top: 0%;
  z-index: 1;
  background-color: #f7f6f4;
}
.discussion .ant-spin-nested-loading {
  position: relative;
  margin: 0px 3%;
}
.recent-dropdown {
  padding: 1%;
  margin: 1.5% 3%;
  text-align: left;
  font: normal normal normal 14px/19px Inter;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.discussion .ant-list-items {
  margin-top: 2%;
  height: auto;
  overflow-y: auto;
}
.discussion .ant-list-items .discussion-list {
  background-color: white;
  text-overflow: ellipsis;
}
.discussion-list .colFirstValue {
  width: 300px;
}
div .ant-tooltip-inner {
  background-color: white;
  color: black;
  width: max-content;
  margin-left: 0px;
  box-shadow: 2px 3px 5px grey;
}
.discussion .ant-list-items .discussion-list-active {
  background-color: white;
  border-right: 4px solid #000000;
}
.search-icon {
  padding-top: 10%;
  margin-left: 22%;
  width: 30px;
  height: 30px;
}

.discussion .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  text-align: left;
  font: normal normal normal 13px/19px Inter;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  border: 0px;
  background-color: transparent;
  height: auto;
  margin-left: 3%;
}

.search-align .ant-row {
  display: flex;
  flex-flow: unset;
  background: #0000000d 0% 0% no-repeat padding-box;
  opacity: 1;
  height: 30px;
  width: 98%;
  padding: 1%;
  margin: 0%;
}
.search-input .anticon-down {
  box-shadow: unset;
  display: none;
}
.discussion-header .search-input .ant-select {
  box-shadow: unset;
  display: none;
  width: 100%;
  height: 30px;
}

.search-input
  .ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  box-shadow: unset;
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
}

.discussion-select-input {
  width: 153px;
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.select-topic-option {
  color: black;
  font-size: 11px;
  background: #eaeae8 0% 0% no-repeat padding-box;
  opacity: 1;
  border-bottom: 1px solid #00000029;
}

.search-align .ant-select-arrow {
  display: none;
}
.search-align .ant-select-selector {
  box-shadow: unset !important;
}
.add-new-discussion .ant-modal-header {
  background: #f7f6f4 0% 0% no-repeat padding-box;
  opacity: 1;
  border: 1px solid #0000001a;
  opacity: 1;
}
.add-new-discussion .ant-modal-header .ant-modal-title {
  text-align: left;
  font: normal normal medium 18px/24px Inter;
  letter-spacing: 0px;
  color: #000000fa;
  opacity: 1;
  font-weight: 600;
}
.add-new-discussion .ant-modal-body {
  background: #f7f6f4 0% 0% no-repeat padding-box;
  opacity: 1;
}
.add-new-discussion .ant-modal-footer {
  background: #f7f6f4 0% 0% no-repeat padding-box;
  opacity: 1;
  border-top: 0px;
}
.align-footer-btn .ant-modal-footer {
  background: #f7f6f4 0% 0% no-repeat padding-box;
  opacity: 1;
  border-top: 0px;
  text-align: center;
}
.add-new-discussion .topic-name {
  text-align: left;
  font: normal normal normal 14px/19px Inter;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.add-new-discussion .selected-topic-name {
  text-align: left;
  font: normal normal medium 18px/24px Inter;
  letter-spacing: 0px;
  opacity: 1;
  display: inline;
}
.add-new-discussion .selected-topic-name .topic-title {
  text-align: left;
  font: normal normal medium 18px/24px Inter;
  letter-spacing: 0px;
  opacity: 1;
  display: inline;
}
.add-new-discussion .selected-topic-name .topic-title .topic-heading {
  text-align: left;
  font: normal normal medium 18px/24px Inter;
  letter-spacing: 0px;
  opacity: 1;
  display: inline;
  font-weight: 600;
}
.add-new-discussion .pop-content {
  text-align: left;
  font: normal normal normal 14px/21px Inter;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
  margin-top: 1.5%;
}
.add-new-discussion .ant-modal-body .ant-input {
  background: #0000000d 0% 0% no-repeat padding-box;
  opacity: 1;
  margin: 3px 0px 10px 0px;
  border: 0px;
  height: 43px;
}
.wrapper-input-search {
  margin-top: 0.5%;
}
svg[data-icon="close"] {
  color: black;
}
.add-new-discussion .ant-modal-body {
  padding: 2% 4%;
}
.discussion .ant-list-empty-text {
  display: none;
}
.discussion-list-no-message {
  display: flex;
  font-size: 18px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0px;
  color: #afafaf;
  opacity: 1;
  height: 85%;
  width: 100%;
}
