.discussion {
  border-right: 2px solid grey;
  height: 100%;
  overflow-y: auto;
}
.discussion-header {
  width: 100%;
  border-bottom: 2px solid grey;
  padding: 2%;
  display: flex;
  align-items: center;
  background: #f7f6f4 0% 0% no-repeat padding-box;
}
.discussion-header .new-discussion-btn {
  margin: 0px 9.7%;
  font: normal normal normal 14px "Inter";
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  padding-right: 13px;
  height: 28px;
}
.discussion-header .new-discussion-btn .add-icon {
  font-size: 13px;
  font-weight: bold;
}
.discussion-header .search-input {
  border: none;
  width: 100%;
  height: 30px;
}
.discussion-header .ant-input {
  border: none;
  height: 40px;
  background-color: transparent;
  padding: 0px 10px;
}
.discussion-header .ant-input:hover {
  border: none;
}
.discussion-header .ant-input-group {
  background-color: #0000001a;
}
.discussion-header .ant-input-group-addon {
  background-color: transparent;
  width: 12%;
}
.discussion .ant-list-split .ant-list-item {
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 1%;
  padding: 1.5%;
  font: normal normal normal 16px/21px Inter;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.discussion .ant-list-header {
  padding: 0px;
}
.discussion .ant-spin-nested-loading {
  position: relative;
  margin: 0px 3%;
}
.recent-dropdown {
  padding: 1%;
  font-weight: 600;
  margin: 1.5% 3%;
  text-align: left;
  font: normal normal normal 14px/19px Inter;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.discussion .ant-list-items .discussion-list {
  background-color: white;
}
.discussion .ant-list-items .discussion-list-active {
  background-color: white;
  border-right: 4px solid #000000;
}
.search-icon {
  padding-top: 10%;
  margin-left: 22%;
  width: 30px;
  height: 30px;
}

.discussion .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  text-align: left;
  font: normal normal normal 13px/19px Inter;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  border: 0px;
  background-color: transparent;
  height: auto;
  margin-left: 3%;
}

.search-align .ant-row {
  display: flex;
  flex-flow: unset;
  background: #0000000d 0% 0% no-repeat padding-box;
  opacity: 1;
  height: 30px;
  width: 100%;
  padding: 1%;
  margin: 0%;
}
.search-input .anticon-down {
  box-shadow: unset;
  display: none;
}
.search-input .ant-select {
  box-shadow: unset;
  display: none;
  width: 100%;
  height: 30px;
}

.search-input
  .ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  box-shadow: unset;
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
}

.ant-select-selection-search-input {
  box-shadow: unset;
  border: 0px;
}
.discussion-select-input {
  width: 163px;
  margin-left: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.select-topic-option {
  color: black;
  font-size: 11px;
  background: #eaeae8 0% 0% no-repeat padding-box;
  opacity: 1;
}

.search-align .ant-select-arrow {
  display: none;
}
