.card-skip {
  padding: 0px;
  padding-top: 40px;
  margin: 0px;
  background: transparent;
}
.skip-btn-text {
  color: grey;
}

.skip-btn:hover {
  background-color: rgba(128, 128, 128, 0.403);
}
.heading-main {
  color: #707070;
  font-weight: bold;
}
.ant-card-body {
  padding: 0px;
}
.details-form {
  padding-top: 2px;
  border: 0px;
  background: transparent;
}
.steps-content {
  min-height: 200px;
  margin-top: 4px;
  text-align: center;
  background: transparent;
  border: 1px dashed #e9e9e9;
  border-radius: 2px;
}
.steps-action {
  height: 1.8rem;
  width: 70vw;
  margin-bottom: 5px;
  position: fixed;
  bottom: 0;
  left: 220px;
  background-color: white;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-icon
  .ant-steps-icon {
  display: none;
}
card {
  background: transparent;
}
.stepper-prev-btn {
  height: 80%;
  padding: 0px 10px;
  margin-top: 0%;
  position: absolute;
  left: 10px;
  font-size: smaller;
  font-family: "Inter-SemiBold, Inter";
}
.stepper-next-btn {
  height: 80%;
  padding: 0px 10px;
  margin-top: 0%;
  position: absolute;
  right: 10px;
  font-size: smaller;
  font-family: "Inter-SemiBold, Inter";
}
.stepper-done-btn {
  height: 80%;
  padding: 0px 10px;
  margin-top: 0%;
  position: absolute;
  right: 10px;
  font-size: smaller;
  font-family: "Inter-SemiBold, Inter";
}
.ant-steps {
  width: 40%;
}
.ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon {
  display: none;
}
.ant-steps-item-icon {
  width: 8px;
  height: 8px;
  margin-left: 10px;
  margin-top: 12px;
  margin-right: 5px;
  border-radius: 0px;
  background-color: black;
  transform: rotate(45deg);
}
.ant-input-affix-wrapper {
  border: 0px;
  color: #9f9f9f;
}
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border: 0px;
}
.ant-input-affix-wrapper > .file-input {
  color: red;
  border: 0px;
}
.textarea {
  border: 1px dashed rgba(128, 128, 128, 0.276);
  background-color: white;
}
textarea.ant-input:hover {
  border: 0px dashed rgba(128, 128, 128, 0.276);
}
.ant-input {
  color: #9f9f9f;
  border: 0px;
  font-weight: 400;
  padding: 6px 11px;
}
.ant-input:hover {
  color: #9f9f9f;
  border: 0px;
  padding: 6px 11px;
}
.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title::after {
  background-color: black;
}
.ant-steps-item-title {
  font-family: "Inter-SemiBold, Inter";
}
.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
  background-color: black;
}
.ant-steps-item-wait .ant-steps-item-icon {
  display: none;
}
.ant-steps-item-finish .ant-steps-item-icon {
  display: none;
}
.ant-btn-dangerous:focus {
  color: #1890ff;
  border: 1px solid #1890ff;
}
.ant-btn-dangerous {
  color: #1890ff;
  border: 1px solid #1890ff;
}
.ant-btn-dangerous:hover {
  border: 1px solid #1890ff;
  color: white;
  background-color: #1890ff;
}
.ant-steps-item-process .ant-steps-item-icon {
  border: 1px solid black;
}
.ant-input-group-addon {
  color: green;
  font-size: smaller;
  padding: 0px;
  border: 0px;
}
.ant-input-group-addon > .icon-blue {
  color: rgb(0, 161, 247);
  background: transparent;
  font-size: larger;
}

.close-icon {
  font-size: 12px;
  color: black;
  margin: 0px;
  border-left: 5px solid white;
  padding: 9px;
  padding-left: 15;
  background-color: white;
}
.ant-input-affix-wrapper {
  border-right: 0px;
}

.cog {
  position: absolute;
  z-index: 99;
  right: 35px;
  top: -8px;
  background-color: white;
  border-radius: 25px;
}
.cog-details {
  position: absolute;
  z-index: 99;
  right: -14px;
  top: -8px;
  background-color: transparent;
  border-radius: 25px;
  padding: 0px;
}
.view-document {
  position: absolute;
  z-index: 99;
  right: -13px;
  top: -15px;
  background-color: transparent;
  border-radius: 25px;
  padding: 0px;
}
.check-icon-details {
  color: green;
  background-color: white;
  padding: 10px;
  padding-right: 5px;
  border-left: 0px;
  font-size: 11px;
}
.ant-input-group-wrapper {
  border: 1px dashed rgba(128, 128, 128, 0.276);
}
.ant-input-group .ant-input {
  text-align: start;
}
.ant-input-affix-wrapper > input.ant-input {
  color: #9f9f9f;
  font-weight: 400;
}
.card-finish {
  width: 98vw;
  background: transparent;
  margin: 0px;
  padding-top: 20px;
  padding-left: 30px;
}
.sub-heading {
  padding-top: 0%;
  color: #7b7b7a;
  font-size: 24px;
  font-weight: 500;
}
.heading-name {
  display: block;
  font-weight: 500;
  font-size: 24px;
  color: #000;
  padding-top: 1%;
  text-transform: capitalize;
  padding-bottom: 1%;
}
.para-finish-screen {
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  color: #7b7b7a;
  padding-bottom: 5%;
}
.para-finish-screenp {
  font-size: 13px;
  font-weight: 500;
  color: #7b7b7a;
  text-align: start;
  padding-top: 8%;
  padding-bottom: 0px;
}
p.project-name-hint {
  color: black;
  margin-top: 5px;
  text-align: start;
  font-size: 10px;
  font-weight: 400;
  margin-bottom: 0px;
}
.hint-check-icon {
  color: green;
  margin: 3px;
  background-color: white;
}
.ant-form-vertical .ant-form-item-label {
  font-weight: 500;
  padding: 0 0 0px;
}
.ant-form-item-label > label {
  font-size: 12px;
}
.ant-input-group .ant-input:hover {
  border: 0px;
}
.ant-form-item {
  margin-bottom: 1%;
}
.btn-submittals {
  margin-top: 1%;
  margin-bottom: 10%;
}
.number {
  font-size: 24px;
  font-weight: 600;
}
.schedule-hexagoan {
  top: -30px;
  left: -10px;
}
.hexagon-schedule-row {
  height: 150px;
  position: relative;
}
.hexagon-schedule {
  position: absolute;
  top: -40px;
  display: flex;
  flex-direction: column;
}
.hexagon-drawing-set {
  margin-left: 1%;
}

textarea.ant-input {
  height: 65px;
  overflow: hidden;
}

.heading-details-form {
  font-weight: 600;
  font-size: 24px;
  color: #707070;
}
