.footerText {
  margin-top: 2%;
  margin-bottom: 1rem;
  text-align: center;
  color: grey;
}
Button {
  margin-top: 10%;
}
.Cardskip {
  padding: 0px;
  padding-top: 40px;
  margin: 0px;
  background: transparent;
}
.ant-card-body {
  padding: 0px;
}
.detailsForm {
  padding-top: 10px;
  border: 0px;
  background: transparent;
}
.FileError {
  color: red;
}

Button {
  margin-top: 10%;
}
.steps-content {
  min-height: 200px;
  margin-top: 16px;
  text-align: center;
  background: transparent;
  border: 1px dashed #e9e9e9;
  border-radius: 2px;
}
.steps-action {
  height: 50px;
  width: 50vw;
  margin-bottom: 1%;
  position: relative;
  background-color: white;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
Card {
  background: transparent;
}
.stepperPrevBtn {
  position: absolute;
  top: -55px;
  left: 10px;
}
.stepperNextBtn {
  position: absolute;
  top: -55px;
  right: 10px;
}
.stepperDoneBtn {
  position: absolute;
  top: -55px;
  right: 10px;
}
.ant-steps {
  width: 40%;
}
.ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon {
  display: none;
}
.ant-steps-item-icon {
  /* display: none; */
  width: 8px;
  height: 8px;
  margin-left: 10px;
  margin-top: 12px;
  margin-right: 5px;
  border-radius: 0px;
  background-color: black;
  transform: rotate(45deg);
}
.ant-input-affix-wrapper {
  border: 0px dotted grey;
}
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border: 0px dotted grey;
}
.ant-input-affix-wrapper > .FileInput {
  color: red;
  border: 0px;
}
textarea.ant-input {
  border: 1.5px dotted grey;
}
.ant-input:hover {
  border: 1.5px dotted grey;
}
.ant-input {
  border: 1.5px dotted grey;
}
.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title::after {
  background-color: black;
}
.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
  background-color: black;
}
.ant-steps-item-wait .ant-steps-item-icon {
  display: none;
}
.ant-steps-item-finish .ant-steps-item-icon {
  display: none;
}
.ant-btn-dangerous:focus {
  color: #1890ff;
  border: 1px solid #1890ff;
}
.ant-btn-dangerous {
  color: #1890ff;
  border: 1px solid #1890ff;
}
.ant-btn-dangerous:hover {
  border: 1px solid #1890ff;
  color: white;
  background-color: #1890ff;
}
.stepactionWrapper {
  width: 100vw;
  position: relative;
  background-color: red;
}
.ant-steps-item-process .ant-steps-item-icon {
  border: 1px solid black;
}
.ant-input-group-addon {
  color: green;
  border: 0px dotted grey;
  font-size: larger;
}
.ant-input-group-addon > .IconBlue {
  color: rgb(0, 161, 247);
  background: transparent;
  font-size: larger;
}
#specificationDoc {
  color: #1890ff;
  font-weight: 600;
}
#siteDrawingDoc {
  color: #1890ff;
  font-weight: 600;
}
#scheduleDoc {
  color: #1890ff;
  font-weight: 600;
}
.lable {
  color: red;
}
.CloseIcon {
  font-size: 12px;
  color: black;
  margin: 0px;
  border-left: 5px solid white;
  padding: 9px;
  padding-left: 15;
  background-color: white;
}
.ant-input-affix-wrapper {
  border-right: 0px;
}

.cog {
  position: absolute;
  z-index: 99;
  right: 35px;
  top: -8px;
  background-color: white;
  border-radius: 25px;
}
.cogDetails {
  position: absolute;
  z-index: 99;
  right: -5px;
  top: -8px;
  background-color: white;
  border-radius: 25px;
}
.CheckIconDetails {
  color: green;
  background-color: white;
  padding: 10px;
  padding-bottom: 3px;
  border: 1.5px dotted grey;
  border-left: 0px;
  font-size: larger;
}
.ant-input-group .ant-input {
  text-align: start;
}
.ant-input-affix-wrapper > input.ant-input {
  color: rgb(0, 161, 247);
  font-weight: 600;
}
.CardFinish {
  width: 98vw;
  background: transparent;
}
.subHeading {
  padding-top: 1%;
  color: grey;
  font-size: 25px;
  font-weight: 400;
}
.HeadingHospitalName {
  display: block;
  font-size: 25px;
  font-weight: 500;
  padding-top: 3%;
  padding-bottom: 2%;
}
.ParaFinishScreen1 {
  color: grey;
  text-align: start;
  padding-bottom: 5%;
}
.ParaFinishScreen2 {
  color: grey;
  text-align: start;
  padding-top: 8%;
  padding-bottom: 0px;
}
p.projectnamehint {
  color: grey;
  margin-top: 10px;

  text-align: start;
  font-size: 11px;
  font-weight: 400;
}
.hintcheckicon {
  color: green;
  margin: 3px;
  background-color: white;
}
.ant-form-vertical .ant-form-item-label {
  font-weight: 500;
  padding: 0 0 4px;
}
.ant-form-item {
  margin-bottom: 3%;
}
.btnsubmittals {
  margin-top: 1%;
  margin-bottom: 4%;
}
.Number {
  font-size: larger;
}
.btnsubmittals {
  margin-bottom: 10%;
}
.scheduleHexagoan {
  top: -30px;
  left: -10px;
}
