.card-skip {
  padding: 0px;
  padding-top: 79px;
  margin: 0px;
  background: transparent;
}
.skip-btn-text {
  margin-top: 21px;
  color: #1c1b1b;
  font-weight: bold;
  font-size: 14px;
  border-bottom: 1px dotted black;
}
.skip-btn-text:hover {
  color: #1890ff;
  font-weight: bold;
  font-size: 14px;
  border-bottom: 1px solid #1890ff;
  cursor: pointer;
}

.skip-btn:hover {
  background-color: rgba(128, 128, 128, 0.403);
}
.heading-main {
  color: #000000;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 76px;
  font: Inter;
  opacity: 1;
  letter-spacing: 0px;
  font: normal normal medium 24px/29px Inter;
}
.ant-card-body {
  padding: 0px;
}
.details-form {
  padding-top: 2px;
  border: 0px;
  background: transparent;
}
.steps-content {
  min-height: 200px;
  margin-top: 4px;
  text-align: center;
  background: transparent;
  border-radius: 2px;
}
.steps-action {
  height: 60px;
  width: 980px;
  max-width: 980px;
  margin-bottom: 5px;
  position: fixed;
  bottom: 0;
  left: 460px;
  background-color: white;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-icon
  .ant-steps-icon {
  display: none;
}
card {
  background: transparent;
}
.stepper-prev-btn {
  height: 80%;
  width: 120px;
  font-size: 16px;
  padding: 0px 10px;
  margin-top: 0%;
  position: absolute;
  left: 10px;
}
.stepper-next-btn {
  height: 80%;
  width: 120px;
  font-size: 16px;
  padding: 0px 10px;
  margin-top: 0%;
  position: absolute;
  right: 10px;
}
.ant-btn-primary[disabled],
.ant-btn-primary[disabled]:hover,
.ant-btn-primary[disabled]:focus,
.ant-btn-primary[disabled]:active {
  height: 100%;
  width: 120px;
  font-size: 16px;
  padding: 0px 10px;
  margin-top: 0%;
  position: absolute;
  right: 6px;
  background-color: #0000007f;
  color: #ffffff;
  font: normal normal normal 16px/20px "Inter";
}
.stepper-done-btn {
  height: 80%;
  width: 120px;
  font-size: 16px;
  padding: 0px 10px;
  margin-top: 0%;
  position: absolute;
  right: 10px;
}
.ant-steps {
  width: 40%;
}
.ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon {
  display: none;
}
.ant-steps-item-icon {
  width: 8px;
  height: 8px;
  margin-left: 10px;
  margin-top: 12px;
  margin-right: 5px;
  border-radius: 0px;
  background-color: black;
  transform: rotate(45deg);
}
.ant-input-affix-wrapper {
  border: 0px;
  color: #9f9f9f;
}
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border: 0px;
}
.ant-input-affix-wrapper > .file-input {
  color: red;
  border: 0px;
}
.text-check {
  background-color: white;
}
textarea.ant-input:hover {
  border: 0px dashed rgba(128, 128, 128, 0.276);
}
.ant-input {
  color: black;
  font-size: 16px;
  border: 1px dashed #0000004d;
  font-weight: 400;
  padding: 6px 11px;
  text-transform: capitalize;
}
.ant-input:hover {
  border: 1px dashed #0000004d;
  color: black;
  border: 0px;
  padding: 6px 11px;
}
.ant-input:focus {
  border: 1px dashed #0000004d;
  color: black;

  padding: 6px 11px;
  box-shadow: unset;
}
.ant-input:active {
  border: 1px dashed #0000004d;
  color: black;

  padding: 6px 11px;
  box-shadow: unset;
}
.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title::after {
  background-color: black;
}

.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
  background-color: black;
}
.ant-steps-item-wait .ant-steps-item-icon {
  display: none;
}
.ant-steps-item-finish .ant-steps-item-icon {
  display: none;
}
.ant-btn-dangerous:focus {
  color: #1890ff;
  border: 1px solid #1890ff;
}
.ant-btn-dangerous {
  color: #1890ff;
  border: 1px solid #1890ff;
}
.ant-btn-dangerous:hover {
  border: 1px solid #1890ff;
  color: white;
  background-color: #1890ff;
}
.ant-steps-item-process .ant-steps-item-icon {
  border: 1px solid black;
}
.ant-input-group-addon {
  color: green;
  font-size: smaller;
  padding: 0px;
  border: 0px;
}
.ant-input-group-addon > .icon-blue {
  color: rgb(0, 161, 247);
  background: transparent;
  font-size: larger;
}

.close-icon {
  font-size: 12px;
  color: black;
  margin: 0px;
  border-left: 5px solid white;
  padding: 9px;
  padding-left: 0px;
  background-color: white;
  position: absolute;
  left: -7px;
  top: -12px;
}
.ant-input-affix-wrapper {
  border-right: 0px;
}

.cog {
  position: absolute;
  z-index: 99;
  right: 35px;
  top: -8px;
  background-color: white;
  border-radius: 25px;
}
.cog-details {
  position: absolute;
  z-index: 99;
  right: -10px;
  top: -8px;
  background-color: transparent;
  border-radius: 25px;
  padding: 0px;
}
.view-document {
  position: absolute;
  z-index: 99;
  right: -13px;
  top: -15px;
  background-color: transparent;
  border-radius: 25px;
  padding: 0px;
}
.check-icon-details1 {
  color: #65d154;
  background-color: white;
  border-left: 0px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.check-icon-details {
  color: #65d154;
  border: 1px dashed #0000004d;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 43px;
  border-left: 0px;
  font-size: 16px;
}

.ant-input-group-wrapper {
  border: 1px dashed rgba(128, 128, 128, 0.276);
}
.ant-input-group .ant-input {
  text-align: start;
  height: 43px;
}
.ant-input-affix-wrapper > input.ant-input {
  color: #9f9f9f;
  font-weight: 400;
}

.card-finish {
  border: 0px;
  width: 612px;
  background: transparent;
  margin: 0px;
  padding-left: 30px;
}
.sub-heading {
  padding-top: 120px;
  text-align: center;
  font: normal normal normal 24px/29px "Inter";
  letter-spacing: 0px;
  color: #0000007f;
  opacity: 1;
  font-size: 24px;
  font-weight: 500;
}
.heading-name {
  display: block;
  font: normal normal normal 24px/29px "Inter";
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-weight: 600;
  font-size: 24px;

  padding-top: 50px;
  text-transform: capitalize;
  padding-bottom: 24px;
}
.para-finish-screen {
  font-size: 18px;
  font-weight: 500;
  color: #00000080;
  text-align: start;
  padding-top: 40px;
  padding-bottom: 0px;
  font-family: "Inter";
  opacity: 1;
  padding-bottom: 5%;
}
.para-finish-screenp {
  font-size: 14px;
  font-weight: 500;
  color: #00000080;
  text-align: start;
  padding-top: 90px;
  padding-bottom: 0px;
  font-family: "Inter";
}
p.project-name-hint {
  letter-spacing: 0px;
  color: #0000007f;
  opacity: 1;
  margin-top: 15px;
  text-align: start;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 0px;
}
.hint-check-icon {
  color: green;
  margin: 3px;
  background-color: white;
}
.ant-form-vertical .ant-form-item-label {
  font-weight: 500;
  padding: 0 0 0px;
}
.ant-form-item-label > label {
  font-size: 14px;
}
.ant-input-group .ant-input:hover {
  border: 0px;
}
.ant-form-item {
  margin-bottom: 1%;
}
.btn-submittals {
  margin-top: 1%;
  margin-bottom: 10%;
  font-size: 18px;
  font: "Inter";
}
.number {
  font-size: 24px;
  font-weight: 600;
}
.strong-text {
  display: block;
  font-weight: 600;
  font-size: 17px;
}
.schedule-hexagoan {
  top: -24px;
  left: -6px;
}
.hexagon-schedule-row {
  position: relative;
}
.hexagon-schedule {
  height: 260px;
  top: -40px;
  display: flex;
  flex-direction: column;
}
.hexagon-drawing-set {
  margin-left: 1%;
}

textarea.ant-input {
  height: 65px;
  overflow: hidden;
  text-transform: capitalize;
}
.ant-input-group .ant-input:hover {
  border: 1px dashed #0000004d;
}
.heading-details-form {
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
  font: normal normal medium 24px/29px "Inter";
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.hexagon-align {
  margin-top: 20px;
  margin-left: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-steps-item-title {
  font-size: 16px;
}
.arrow-icon {
  position: absolute;
  top: 5%;
  right: 10%;
  width: 80px;
  height: 70px;
}
.ant-tooltip {
  background-color: transparent;
}
.ant-tooltip-inner {
  background-color: #f7f6f4;
  color: red;
  font-size: 16px;
  min-width: max-content;
  box-shadow: none;
}
.ant-progress-status-success div .ant-progress-bg {
  background-color: #65d154;
}
.ant-progress-success-bg,
.ant-progress-bg {
  background-color: #ffa41b;
}
.form-item {
  position: relative;
  margin-bottom: 21px;
}
.selected-file {
  width: 480px;
  height: 43px;
  display: flex;
  background-color: white;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
}
.wrapper-green-check {
  background-color: white;
  border: 1px dashed grey;
}
.ant-typography a {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  border-bottom: 1px dashed #707070;
}
.ant-typography a:hover {
  color: #007aff;
  border-bottom: 1px solid #007aff;
}
.document {
  font-size: 18px;
  padding-top: 5px;
  padding-left: 9px;
}
.footer-text {
  margin-top: 0px;
  font-size: 15px;
  margin-bottom: 12px;
  text-align: center;
  color: grey;
}
.footer-text-second {
  margin-top: 20px;
  font-size: 15px;
  margin-bottom: 12px;
  text-align: center;
  color: grey;
}
.ant-tooltip-arrow {
  display: none;
}

div .error-text-project-name {
  font-size: "12px";
  color: #ff3535;
}
.error-bg-color {
  background-color: #ff35351a;
}
.success-bg-color {
  background-color: #65d1541a;
}
.success-bg-color-icon {
  color: #65d154;
  border-left: 0px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #5cca4b35;
}
.success-bg-color-icon-details {
  color: #65d154;
  border: 1px dashed #0000004d;
  background-color: #65d1542b;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 43px;
  border-left: 0px;
  font-size: 16px;
}
.upload-number {
  padding-right: 110px;
}
.floor-number {
  padding-right: 58px;
  padding-left: 58px;
}
.submittal-number {
  padding-left: 90px;
}
