.depends-tooltip {
  width: auto;
  height: auto;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 1px 0px 11px #00000029;
  opacity: 1;
  padding: 10px;
}

.depends-tooltip p {
  margin: 5px;
  white-space: nowrap;
}
.submittalId {
  color: #0000007f;
  text-align: left;
  font: normal normal normal 16px/20px Inter;
  letter-spacing: 0px;
  opacity: 1;
}
.submittalName {
  color: #000000;
  text-align: left;
  font: normal normal normal 16px/20px Inter;
  letter-spacing: 0px;
  opacity: 1;
}
.submittalStatus {
  color: #000000FA;
  text-align: left;
  font: normal normal normal 12px/15px Inter;
  letter-spacing: 0px;
  opacity: 1;
}
.submittalNotExisst {
  color: red;
  text-align: left;
  font: normal normal normal 12px/15px Inter;
  letter-spacing: 0px;
  opacity: 1;
}
.dueBy {
  color: #0000007f;
  text-align: left;
  font: normal normal normal 12px/15px Inter;
  letter-spacing: 0px;
  opacity: 1;
}
