.App .navbar {
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: black;
    background: rgb(202, 204, 206);
  }
  
  .App .navbar .nav-links {
    width: 40%;
    display: flex;
    list-style: none;
  }
  
  .App .navbar .nav-links>a{
    color: black;
    text-decoration: none;
  }

  .logo {
    padding-right: 5%;
    margin: 1%;
  }