.App .navbar {
  width: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: black;
  background: rgb(202, 204, 206);
}

.App .navbar {
  width: 100%;
  min-height: 5vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: black;
  background-color: white;
  margin: 0px 0px 0px 0px;
}

.ant-page-header {
  width: 80vw;
  padding: 0px;
}
.brandName {
  padding-left: 10px;
  font-size: 20px;
}
.ant-page-header-heading-title {
  font-size: 14px;
  margin-right: 0px;
  padding-right: 10px;
  border-right: 1px solid rgba(128, 128, 128, 0.184);
}
.ant-page-header-heading-sub-title {
  margin-left: 12px;
  font-size: 12px;
  font-weight: 500;
}

.menus {
  float: right;
}
