.App .navbar {
  width: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: black;
  background: rgb(202, 204, 206);
}

.App .navbar .nav-links {
  width: 40%;
  display: flex;
  list-style: none;
}

.App .navbar .nav-links > a {
  color: black;
  text-decoration: none;
}

.logo {
  padding-right: 5%;
  margin: 1%;
}
.App .navbar {
  width: 100%;
  min-height: 5vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: black;
  background-color: white;
}

.App .navbar .nav-links {
  width: 40%;
  display: flex;
  list-style: none;
}

.App .navbar .nav-links > a {
  color: black;
  text-decoration: none;
}

.logo {
  padding-right: 5%;
  margin: 1%;
}
.navbar {
  background-color: white;
  padding: 0px;
}
.ant-page-header {
  width: 80vw;
  padding: 0px;
}
.brandName {
  padding-left: 10px;
  font-size: 20px;
}
.ant-page-header-heading-title {
  font-size: 14px;
  margin-right: 0px;
  padding-right: 10px;
  border-right: 1px solid rgba(128, 128, 128, 0.184);
  /* border-left: 1px solid rgba(128, 128, 128, 0.34); */
}
.ant-page-header-heading-sub-title {
  margin-left: 12px;
  font-size: 12px;
  font-weight: 500;
}
.ant-page-header-heading-left {
  margin: 0px;
}
.UserIcon {
  border: 1px solid black;
  padding: 5px;
  border-radius: 15px;
  margin-top: 2px;
}
.menus{
  float: right;
  width: 100%;
}