.App .navbar {
  width: 100%;
  height: 60px;
  overflow: hidden;
  color: black;
  background-color: white;
}

.brand-name {
  margin-left: 15px;
}

.brand-name svg {
  height: 29px;
  width: auto;
}

.site-page-header {
  float: left;
  padding: 3px 0px;
}

.ant-page-header-back .back-button-label {
  text-align: left;
  font: normal normal normal 18px/21px Inter;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin: 0px;
  padding: 0px;
  padding-left: 6px;
}

.ant-page-header-heading-title {
  text-align: left;
  font: normal normal normal 18px/21px Inter;
  letter-spacing: 0px;
  color: #0000007f;
  opacity: 1;
  margin: 0px;
  padding-left: 16px;
  border-left: 1px solid rgba(128, 128, 128, 0.184);
  color: rgba(0, 0, 0, 0.45);
}

.menus {
  border-bottom: 1px solid #ffffff;
  justify-content: end;
  text-align: left;
  font: normal normal normal 18px/46px Inter;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected {
  text-align: left;
  letter-spacing: 0px;
  color: #000000 !important;
  opacity: 1;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after {
  border-bottom: 2px solid #000000 !important;
}

.ant-menu-item span a {
  text-align: left;
  font: normal normal normal 18px/21px Inter;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.ant-menu-item span svg {
  margin-top: 4px;
  opacity: 1;
}

.navbarCol {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ant-menu-title-content {
  text-align: left;
  font: normal normal normal 18px/21px Inter;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.ant-menu-item-selected span {
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-weight: bold;
}
