.App .navbar {
  width: 100%;
  height: 46px;
  overflow: hidden;
  color: black;
  background-color: white;
}

.brand-name {
  float: left;
  height: 46px;
  line-height: 0;
  padding: 12px 16px 16px 12px;
}

.brand-name svg {
  height: 18px;
  width: auto;
}

.site-page-header {
  float: left;
  padding: 3px 0px;
}

.ant-page-header-heading-left {
  padding-left: 16px;
  border-left: 1px solid rgba(128, 128, 128, 0.184);
}

.ant-page-header-back {
  font-size: 10px;
}

.ant-page-header-back .back-button-label {
  font-size: 14px;
  font-weight: 300;
  margin: 0px;
  padding: 0px;
  padding-left: 6px;
}

.ant-page-header-heading-title {
  font-size: 14px;
  font-weight: 300;
  margin: 0px;
  padding-left: 16px;
  border-left: 1px solid rgba(128, 128, 128, 0.184);
  color: rgba(0, 0, 0, 0.45);
}


.menus {
  border-bottom: 1px solid #ffffff;
  justify-content: end;
}
