.document-item {
  height: 43px;
  background: #ffffff 0% 0% no-repeat padding-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 0px solid rgba(128, 128, 128, 0.18);
  text-align: left;
  font: normal normal normal 14px/19px Inter;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  padding-left: 5%;
}
.document-item-active {
  height: 43px;
  background: #ffffff 0% 0% no-repeat padding-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 0px solid rgba(128, 128, 128, 0.18);
  text-align: left;
  font: normal normal normal 14px/19px Inter;
  letter-spacing: 0px;
  color: #000000;
  padding-left: 5%;
  border-left: 4px solid #000000;
  opacity: 1;
}
