.selectStyle {
  width: 100%;
  text-align: left;
  font: normal normal normal 1.56vh/1.95vh Inter;
  letter-spacing: 0px;
  color: #000000fa;
  opacity: 1;
}

.selectStyle .ant-picker-input > input {
  font: normal normal normal 1.56vh/1.95vh Inter;
}

.selectStyle .ant-select-selector {
  background-color: #0000000d !important;
}

.detailsContent {
  padding: 1.953125vh;
  padding-bottom: 1.07vh;
  background-color: white;
  position: relative;
  top: 0px;
  height: 44.82vh;
}

.heading {
  text-align: left;
  font: normal normal normal 1.37vh/1.66vh Inter;
  letter-spacing: 0px;
  color: #00000080;
  opacity: 1;
  margin-bottom: 1.17vh;
}

.validationColor {
  text-align: left;
  font: normal normal normal 1.37vh/1.66vh Inter;
  letter-spacing: 0px;
  color: #ff3535bf;
  opacity: 1;
  margin-bottom: 1.17vh;
}

.description {
  background-color: #0000000d;
  text-align: left;
  font: normal normal normal 1.56vh/2.34vh Inter;
  letter-spacing: 0px;
  color: #000000fa;
  opacity: 1;
  height: 9.37vh !important;
  padding: 1.37vh;
}

.dependsOnRowData {
  height: 3.71vh;
  padding-left: 1.37vh;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 0.98vh;
  text-align: left;
  font: normal normal normal 1.56vh/1.95vh Inter;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.actionItemCard {
  width: 100%;
  margin: 0px !important;
  position: absolute;
  bottom: 0;
  margin-bottom: 20px !important;
  background-color: white;
  height: 16.5vh;
  padding: 1.95vh;
}

.subDetailsAction {
  text-align: left;
  font: normal normal normal 1.76vh/2.05vh Inter;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.actionItemsCheckBox {
  text-align: left;
  font: normal normal normal 1.56vh/1.95vh Inter;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.respondLink {
  text-align: left;
  font: normal normal normal 1.56vh/1.95vh Inter;
  letter-spacing: 0px;
  color: #cccccc !important;
  opacity: 1;
}

.footerLink {
  text-align: left;
  font: normal normal normal 1.56vh/1.95vh Inter;
  letter-spacing: 0px;
  color: #007aff !important;
  opacity: 1;
}
.text-red {
  color: red;
  padding-left: 2%;
}
