@import url("https://fonts.googleapis.com/css?family=Inter");
@import "~antd/dist/antd.css";
* {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f7f6f4 0% 0% no-repeat padding-box;
  opacity: 1;
}

button {
  margin-top: 1%;
}
