@import url("https://fonts.googleapis.com/css?family=Inter");
@import "~antd/dist/antd.css";
* {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(162, 156, 133, 0.198);
}

.footer-text {
  margin-top: 1%;
  font-size: 10px;
  margin-bottom: 12px;
  text-align: center;
  color: grey;
}

button {
  margin-top: 1%;
}
