.attach-document .ant-modal-content {
  width: 575px;
}

.attach-document .ant-modal-content,
.attach-document .ant-modal-header {
  background: #f7f6f4 0% 0% no-repeat padding-box !important;
}

.attach-document .ant-modal-title {
  text-align: left;
  font: 18px/21px Inter;
  letter-spacing: 0px;
  color: #000000fa;
  opacity: 1;
  font-weight: 600;
}

.attach-document .attachment-heading {
  font: 18px/21px Inter;
  letter-spacing: 0;
  color: #000000fa;
  font-weight: 600;
}
.attach-document .attachment-sub-heading {
    font: 16px/24px Inter;
    letter-spacing: 0;
    color: #000000;
    font-weight: 500;
}
.attach-document .annotation-text {
    font: 14px/17px Inter;
    letter-spacing: 0;
    color: #0000007F;
    margin-left: 5px;
}
