.button-full-screen {
  height: 80vh;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.btn-left-outline {
  height: 7%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #808080;
  color: white;
}
