.discussionDocs {
  height: 61px;
  position: sticky;
  top: 0px;
  background-color: #f7f6f4;
  padding: 3% 0;
  z-index: 1;
  border-bottom: 1px solid darkgrey;
  padding-bottom: 7%;
}

.importBtn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2px 10px;
  float: right;
  margin-right: 13px;
  margin-top: 2px;
}

.currentUserFile {
  float: right;
  clear: both;
  padding: 0 1.5%;
  margin-left: 50px;
  margin-right: 0px;
  width: 100%;
}

.otherUserFile {
  float: left;
  clear: both;
  padding: 0 1.5%;
  margin-left: 0px;
  margin-right: 50px;
  width: 100%;
}

.currentUserFilenName {
  background-color: white;
  clear: both;
  color: #000000;
  font: normal normal normal 16px/21px Inter;
  padding: 11px 12px 12px 22px;
  border-radius: 8px 0px 8px 8px;
}

.otherUserFilenName {
  background-color: white;
  clear: both;
  color: #000000;
  font: normal normal normal 16px/21px Inter;
  padding: 11px 22px 12px 12px;
  border-radius: 0px 8px 8px 8px;
}

.uploadFileDiv {
  position: fixed;
  bottom: 0px;
  background-color: #f7f6f4;
  padding: 11px 1%;
  width: 32%;
}
.downloadIcon {
  float: right;
}
.copyIcon {
  float: right;
  margin-right: 5px;
}
.all-document-list {
  margin: 3%;
}
.selected-document {
  color: #007aff;
  display: inline;
  font-weight: 500;
}
.selected-document:hover {
  color: #007aff;
  display: inline;
  cursor: pointer;
}
.document-count {
  font-weight: 600;
  font-size: 16px;
  margin: 1% 1.5%;
  float: left;
}
.darg-file {
  border: 1px dashed #0000004d;
  display: flex;
  align-items: center;
  justify-content: center;
}
.darg-file-active {
  border: 1px dashed #007aff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.disucssion-doc-modal .ant-modal-body {
  background: #f7f6f4 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 15px 20px;
  line-height: 20px;
}
.disucssion-doc-modal {
  width: 600px;
}
.disucssion-doc-modal .ant-modal-footer {
  background: #f7f6f4 0% 0% no-repeat padding-box;
  opacity: 1;
}
.disucssion-doc-modal .ant-modal-header {
  background: #f7f6f4 0% 0% no-repeat padding-box;
  opacity: 1;
}
.disucssion-doc-modal .ant-modal-header .ant-modal-title {
  font-weight: 600;
}
.disucssion-doc-modal .heading {
  display: inline-block;
  text-align: left;
  font: normal normal medium 18px/21px "Inter";
  letter-spacing: 0px;
  opacity: 1;
  font-size: 18px;
  color: #707070;
}
.disucssion-doc-modal .content {
  margin-top: 2%;
  display: inline-block;
  text-align: left;
  font: normal normal normal 14px/21px Inter;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
  font-size: 14px;
}
.disucssion-doc-modal .ant-btn-default {
  color: #007aff;
  border: 1px solid #007aff;
}
